#wrap {
    width: 50%;
    margin: 0 auto;
}

.header-img {
    position: relative;
    width: 610px;
    margin: 10px auto;
}

.big-text-input {
    width: 600px;
    height: 400px;
    background-color: blue;
}