* {
    font-family: 'Average Sans', sans-serif;
}

.header-img {
    display: block;
    width: 610px;
    margin: 10px auto;
    padding-left: 40px;
}

#page {
    display: block;
    width: 1000px;
    margin: auto;
}

#right-bar, #main-section {
    display: inline-block;
    position: relative;
}

#right-bar {
    width: 220px;
    height: 80px;
    float: left;
    padding: 32.5px 40px 50px 40px;
    background: #DFE9FF;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
}

#main-section {
    width: 580px;
    float: left;
    padding-top: 6px;
}

input, label {
    display: inline-block;
}

#main-section label {
    text-align: right;
    width: 250px;
}

#main-section input, #main-section textarea, #right-bar input {
    width: 180px;
    margin: 5px 0px 5px 4px;
}

.annotation {
    color: #808080;
}

textarea#sales-force-text {
    width: 184.5px;
    height: 40px;
    resize: none;
}

#submit-button {
    color: white;
    background: #000080;
    border-radius: 8px 8px 8px 8px;
    height: 35px;
    font-weight: bold;
    border: none;
    padding-bottom: 3px;
}
